---
layout: archive
permalink: /year-archive/
title: "News & Blog Posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
  # Former tag archive pages (move to /news/ in Stage 7)
  - /tags/
  - /tags/asilomar/
  - /tags/conference/
  - /tags/datasets/
  - /tags/experiments/
  - /tags/lecture/
  - /tags/renew/
  - /tags/rice-university/
  - /tags/tutorial/
  - /tags/utah/
  - /tags/video/
  - /tags/workshop/
  - /tags/youtube/
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle" style="margin-top: 2rem; margin-bottom: 1rem;">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
<!--  {% include archive-single.html %}-->
  {% include post-preview.html %}
{% endfor %}
