{%- comment -%}
  A zoomable figure with an optional caption (zoom-image.html inside
  <figure>). Parameters: name (key in _data/images.yml), alt, caption
  (Markdown, optional), sizes.
{%- endcomment -%}
{%- if site.data.images[include.name] -%}
<figure class="figure">
  {% include zoom-image.html name=include.name alt=include.alt sizes=include.sizes %}
  {%- if include.caption %}
  <figcaption>{{ include.caption | markdownify | remove: "<p>" | remove: "</p>" | strip }}</figcaption>
  {%- endif %}
</figure>
{%- endif -%}
